:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 17.5px;

  /* colors */
  --oui-color-primary: 103 58 183;
  --oui-color-primary-light: 143 106 216;
  --oui-color-primary-darken: 70 30 142;
  --oui-color-primary-contrast: 210 200 230;

  --oui-color-link: 143 106 216;
  --oui-color-link-light: 100 65 150;

  --oui-color-secondary: 180 170 200;
  --oui-color-tertiary: 150 140 170;
  --oui-color-quaternary: 130 120 150;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 250 167 188;
  --oui-color-danger-darken: 237 72 122;
  --oui-color-danger-contrast: 210 180 190;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 101 240 194;
  --oui-color-success-darken: 0 161 120;
  --oui-color-success-contrast: 180 255 220;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 255 152 0;
  --oui-color-warning-contrast: 255 240 180;

  --oui-color-fill: 0 0 0;
  --oui-color-fill-active: 0 0 0;

  --oui-color-base-1: 0 0 0;
  --oui-color-base-2: 0 0 0;
  --oui-color-base-3: 0 0 0;
  --oui-color-base-4: 0 0 0;
  --oui-color-base-5: 0 0 0;
  --oui-color-base-6: 0 0 0;
  --oui-color-base-7: 0 0 0;
  --oui-color-base-8: 0 0 0;
  --oui-color-base-9: 0 0 0;
  --oui-color-base-10: 14 13 18;

  --oui-color-base-foreground: 210 200 230;
  --oui-color-line: 180 170 200;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 210 180 190;
  --oui-color-trading-profit: 41 233 169;
  --oui-color-trading-profit-contrast: 180 255 220;

  /* gradients */
  --oui-gradient-primary-start: 60 30 130;
  --oui-gradient-primary-end: 143 106 216;

  --oui-gradient-secondary-start: 81 42 121;
  --oui-gradient-secondary-end: 143 106 216;

  --oui-gradient-success-start: 1 83 68;
  --oui-gradient-success-end: 41 223 169;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 143 106 216;
  --oui-gradient-brand-end: 103 58 183;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 34.5rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 17.5px !important;
}
:root {
  /* …твой набор переменных… */
}

/* кастом поверх темы Aden */
.oui-scaffold-footer-powered-by {
  display: none !important;
}